.video__comments-list {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px;
    height: max-content;

    .commentAvatar,
    .commentText {
        height: 100px;
    }
}