aside.sidebar
    .menu
        .icon
            i.fas.fa-home
        //- .text
        //-     span 홈
    .menu
        .icon
            i.fas.fa-fire
        //- .text
        //-     span 인기
    .menu
        .icon
            i.fas.fa-film
        //- .text
        //-     span 구독
    .menu
        .icon
            i.fas.fa-file-video
        //- .text
        //-     span 보관함
    .menu
        .icon
            i.fas.fa-history
        //- .text
        //-     span 시청기록