.social-login
  a(href=routes.github)
    button.social-login--github
      span
        i.fab.fa-github
      |Continue with Github
  //- button.social-login--facebook
  //-   span
  //-     i.fab.fa-facebook
  //-   |Continue with Facebook
  a(href=routes.kakao)
    button.social-login--kakao
      span
        //- i.fab.fa-facebook
      |Continue with Kakao