.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changePassword-form-container {
    @include buttons();
    width: 320px;

    input {
        height: 50px;
        border-radius: 4px;
        text-align: center;
    }
}