include ../mixins/message
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="https://bbantube.s3.ap-northeast-2.amazonaws.com/src/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.13.1/css/all.css", integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q", crossorigin="anonymous")
    link(rel="stylesheet", href="/static/styles.css")
    title #{siteName}#{appName}
  body
    include ../partials/header
    //- aside
    //-   block aside
    include ../partials/aside
    main
      block content

    if messages.error
      +message({
        type: "error",
        text: messages.error
      })
    else if messages.info
      +message({
        type: "info",
        text: messages.info
      })
    else if messages.success
      +message({
        type: "success",
        text: messages.success
      })
    //- include ../partials/footer
    script(src="/static/main.js")